<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Admin page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <link href="/css/dashboard.css" rel="stylesheet">
</head>
<body class="bg-light">
<div sec:authorize="hasAuthority('ADMIN')">
    <nav class="navbar navbar-dark bg-dark flex-md-nowrap shadow">
    <span class="navbar-text">
    <b th:utext="${session.user.getEmail()}">with</b>
    <span>with roles: </span>
        <span th:each="authority : ${#authentication.getAuthorities()}"
              th:text="${authority.getAuthority()} +' '"></span>
</span>
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a class="nav-link" th:href="@{/logout}">Logout</a>
            </li>
        </ul>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <nav class="nav flex-column col-md-2 d-md-block sidebar pt-3 bg-white border-right">
                <ul class="list-group border-right">
                    <li><a class="list-group-item list-group-item-action active border-0" href="#">All users</a></li>
<!--                    <li th:each="user : ${usersList}">-->
<!--                        <a class="list-group-item list-group-item-action text-capitalize border-0 userBtn"-->
<!--                           th:href="@{/{name}(name=${user.email})}"-->
<!--                           th:utext="${user.firstName}">-->
<!--                        </a>-->
<!--                    </li>-->
                </ul>
            </nav>
            <div class="sidebar-sticky"></div>

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                <br>
                <h2>Admin panel</h2>
                <ul class="nav nav-tabs" id="myTabs">
                    <li class="nav-item"><a href="#home" role="tab" data-toggle="list" class="nav-link active">Users
                        table</a></li>
                    <li class="nav-item"><a href="#newuser" role="tab" data-toggle="list" class="nav-link nBtn">New
                        User</a>
                    </li>
                </ul>
                <div class="tab-content pt-3 border">
                    <div class="tab-pane active bg-white" id="home" role="tabpanel">
                        <h5 class="pl-3 py-2 border-bottom bg-light">All users</h5>
                        <div class="table-responsive px-3 py-3">
                            <table id="userstable" class="table table-striped">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Email</th>
                                    <th>Age</th>
                                    <th>Role</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td id="userID"></td>
                                    <td id="userFirstName"></td>
                                    <td id="userLastName"></td>
                                    <td id="userEmail"></td>
                                    <td id="userAge"></td>
                                    <td id="userRoles"></td>
<!--                                    <td><a th:href="@{/findone/(id=${user.id})}"-->
<!--                                           class="btn btn-info btn-sm eBtn">Edit</a>-->

<!--                                        &lt;!&ndash;    Edit Modal&ndash;&gt;-->
<!--                                        <div th:include="admin/editmodal"></div>-->
<!--                                    </td>-->
<!--                                    <td><a th:href="@{/findone/(id=${user.id})}"-->
<!--                                           class="btn btn-danger btn-sm delBtn">Delete</a>-->

<!--                                        &lt;!&ndash;    Delete modal&ndash;&gt;-->
<!--                                        <div th:include="/admin/deletemodal"></div>-->
<!--                                    </td>-->
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane" id="newuser" role="tabpanel">

                        <!--    New user form -->
                        <div th:include="/admin/newuserform"></div>
                    </div>
                </div>
            </main>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/main.js"></script>
</div>
</body>
</html>