<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Таблица Users</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <link href="/css/dashboard.css" rel="stylesheet">
</head>
<body>
<div sec:authorize="hasAuthority('ADMIN')">
    <nav class="navbar navbar-dark bg-dark flex-md-nowrap shadow">
    <span class="navbar-text">
    <b th:utext="${session.user.getEmail()}">with</b>
    <span>with roles: </span>
<!--         <span th:each="authority : ${#authentication.getAuthorities()}"-->
<!--               th:if="${authority.getAuthority().startsWith('ROLE_')}"-->
<!--               th:text="${authority.getAuthority().replaceFirst('ROLE_', ' ')}">-->
<!--    </span>-->
                 <span th:each="authority : ${#authentication.getAuthorities()}"
               th:text="${authority.getAuthority()}">
    </span>

</span>
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a class="nav-link" th:href="@{/logout}">Logout</a>
            </li>
        </ul>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
<!--                <div class="sidebar-sticky">-->
                <div class="sidebar-sticky">
                    <ul class="nav flex-column" th:each="user : ${usersList}">
                        <li class="nav-item">
                            <a class="nav-link active" th:href="@{/{name}(name=${user.email})}">
                                <span data-feather="home" th:utext="${user.email}"></span>
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                <h2>Admin panel</h2>
                <ul class="nav nav-tabs mt-5" id="myTabs">
                    <li class="nav-item"><a href="#home" role="tab" data-toggle="list" class="nav-link active">Users
                        table</a></li>
                    <li class="nav-item"><a href="#newuser" role="tab" data-toggle="list" class="nav-link">New User</a>
                    </li>
                </ul>
                <div class="tab-content pt-3">
                    <div class="tab-pane active" id="home" role="tabpanel">
                        <h5>All users</h5>
                        <div class="table-responsive">
                            <table class="table table-striped table-sm">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Email</th>
                                    <th>Age</th>
                                    <th>Role</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="user : ${usersList}">
                                    <td th:utext="${user.id}">ID</td>
                                    <td th:utext="${user.firstName}">Firstname</td>
                                    <td th:utext="${user.lastName}">Lastname</td>
                                    <td th:utext="${user.email}">Email</td>
                                    <td th:utext="${user.age}">Age</td>
                                    <td th:utext="${user.roles}">Role</td>
                                    <td><a th:href="@{/findone/(id=${user.id})}" class="btn btn-info btn-sm eBtn">Edit</a>
                                    </td>
                                    <td><a class="btn btn-danger btn-sm" th:href="@{/del(id=${user.id})}">Delete</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane" id="newuser" role="tabpanel">
                        <h2>Добавить нового User</h2>
                        <form>
                            <button type="submit" formaction="/admin/new">Добавить</button>
                        </form>
                    </div>
                </div>
            </main>
        </div>
    </div>

    <div class="myModal">
        <form method="post" th:action="@{/edituser}">
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit user</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="id" class="col-form-label">Id</label>
                            <input name="id" type="text" class="form-control" id="id"/>
                        </div>
                        <div class="form-group">
                            <label for="firstName" class="col-form-label">First Name</label>
                            <input name="firstName" type="text" class="form-control" id="firstName"/>
                        </div>
                        <div class="form-group">
                            <label for="lastName" class="col-form-label">Last Name</label>
                            <input name="lastName" type="text" class="form-control" id="lastName"/>
                        </div>
                        <div class="form-group">
                            <label for="age" class="col-form-label">Age</label>
                            <input name="age" type="text" class="form-control" id="age"/>
                        </div>
                        <div class="form-group">
                            <label for="email" class="col-form-label">Email</label>
                            <input name="email" type="text" class="form-control" id="email"/>
                        </div>
                        <div class="form-group">
                            <label for="password" class="col-form-label">Password</label>
                            <input name="password" type="text" class="form-control" id="password"/>
                        </div>
<!--                        <div class="form-group">-->
<!--                            <label for="roles" class="col-form-label">Role</label>-->
<!--                            <select name="roles" id="roles" class="form-control">-->
<!--                                <option name="roles" value=""/>-->
<!--                            </select>-->

<!--                        </div>-->
                        <div class="form-group">
                            <label for="roles" class="col-form-label">Roles</label>
                            <input name="roles" type="text" class="form-control" id="roles"/>
                        </div>
                    </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary" value="save"/>
                </div>

            </div>

        </div>
    </div>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/main.js"></script>

    <script>
        $('#myList a').on('click', function (e) {
            e.preventDefault()
            $(this).tab('show')
        })
        $(function () {
            $('#myList a:first-child').tab('show')
        })
    </script>
</div>
</body>
</html>