<div class="modal fade deleteModalNew" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel1"
     aria-hidden="true">
<!--    <form method="get" th:action="@{/delete/(id1=${user.id})}">-->
    <form method="delete">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Delete user</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group text-center w-50 mx-auto">
                        <label for="id1" class="col-form-label font-weight-bold">Id</label>
                        <input name="id1" type="text" class="form-control" id="id1" value="" readonly/>
                    </div>
                    <div class="form-group text-center w-50 mx-auto">
                        <label for="firstName1" class="col-form-label font-weight-bold">First Name</label>
                        <input name="firstName1" type="text" class="form-control" id="firstName1" value="" readonly/>
                    </div>
                    <div class="form-group text-center w-50 mx-auto">
                        <label for="lastName1" class="col-form-label font-weight-bold">Last Name</label>
                        <input name="lastName1" type="text" class="form-control" id="lastName1" value="" readonly/>
                    </div>
                    <div class="form-group text-center w-50 mx-auto">
                        <label for="age1" class="col-form-label font-weight-bold">Age</label>
                        <input name="age1" type="text" class="form-control" id="age1" value="" readonly/>
                    </div>
                    <div class="form-group text-center w-50 mx-auto">
                        <label for="email1" class="col-form-label font-weight-bold">Email</label>
                        <input name="email1" type="text" class="form-control" id="email1" value="" readonly/>
                    </div>
                    <div class="form-group text-center w-50 mx-auto">
                        <label for="roles1" class="col-form-label font-weight-bold">Role</label>
                        <select disabled size="2" name="roles1" id="roles1" class="custom-select" multiple>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <input type="submit" id="delRef" class="btn btn-danger" value="Delete"/>
                </div>
            </div>
        </div>
    </form>
</div>
