<div class="modal fade myModal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel"
     aria-hidden="true">
    <form method="post" th:action="@{/edituser}">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit user</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group text-center w-50 mx-auto">
                        <label for="id" class="col-form-label font-weight-bold">Id</label>
                        <input name="id" type="text" class="form-control" id="id" value="" readonly/>
                    </div>
                    <div class="form-group text-center w-50 mx-auto">
                        <label for="firstName" class="col-form-label font-weight-bold">First Name</label>
                        <input name="firstName" type="text" class="form-control" id="firstName" value=""/>
                    </div>
                    <div class="form-group text-center w-50 mx-auto">
                        <label for="lastName" class="col-form-label font-weight-bold">Last Name</label>
                        <input name="lastName" type="text" class="form-control" id="lastName" value=""/>
                    </div>
                    <div class="form-group text-center w-50 mx-auto">
                        <label for="age" class="col-form-label font-weight-bold">Age</label>
                        <input name="age" type="text" class="form-control" id="age" value=""/>
                    </div>
                    <div class="form-group text-center w-50 mx-auto">
                        <label for="email" class="col-form-label font-weight-bold">Email</label>
                        <input name="email" type="text" class="form-control" id="email" value=""/>
                    </div>
                    <div class="form-group text-center w-50 mx-auto">
                        <label for="password" class="col-form-label font-weight-bold">Password</label>
                        <input name="password" type="password" class="form-control" id="password" value=""/>
                    </div>
                    <!--                        <div class="form-group">-->
                    <!--                            <label for="roles" class="col-form-label">Roles</label>-->
                    <!--                            <input name="roles" type="text" class="form-control" id="roles"/>-->
                    <!--                        </div>-->
                    <div class="form-group text-center w-50 mx-auto">
                        <label for="roles" class="col-form-label font-weight-bold">Role</label>
                        <!--                        <input name="roles" type="text" class="form-control" id="roles"/>-->
                        <select name="roles" id="roles" class="custom-select" multiple>
                        </select>
                        <!--                            <th:block  th:each="item : ${roles}">-->
                        <!--                                <input name="roles" id="roles" type="checkbox" th:field="*{roles}" th:value="${item}"/>-->
                        <!--                                <label th:text="${item.name}">Test</label>-->
                        <!--                            </th:block>-->
                    </div>


                    <div id="getResultDiv" style="padding:20px 10px 20px 50px">
                        <ul class="list-group">
                        </ul>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary" value="Edit"/>
                </div>
            </div>
        </div>
    </form>
</div>

