<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Новый User</title>
    <link href="/css/narrow_style.css" rel="stylesheet">
</head>
<body>
<div style="text-align: center">
    <h2>Добавить нового пользователя</h2>
    <form th:method="POST" th:action="@{/admin/new}" th:object="${user}">
        <div th:if="${registrationError}">
            <span class="error" th:text="${registrationError}"></span>
        </div>
        <table>
            <tr>
                <td><label for="firstName">First Name</label></td>
                <td><input type="text" th:field="*{firstName}" id="firstName"></td>
            </tr>
            <tr>
                <td><label for="lastName">Last Name</label></td>
                <td><input type="text" th:field="*{lastName}" id="lastName"></td>
            </tr>
            <tr>
                <td><label for="age">Age</label></td>
                <td><input type="text" th:field="*{age}" id="age"></td>
            </tr>
            <tr>
                <td><label for="pass">Password</label></td>
                <td><input type="text" th:field="*{password}" id="pass"></td>
            </tr>
            <tr>
                <td><label for="email">Email</label></td>
                <td><input type="text" th:field="*{email}" id="email"></td>
            </tr>
            <tr>
                <td><label>Role</label></td>
                <td>
                    <label th:each="item : ${roles}">
                        <input type="checkbox" th:field="*{roles}" th:value="${item}"/>
                        <label th:text="${item.name}">Test</label>
                    </label>
                </td>
            </tr>
            <tr>
                <td style="text-align: center" colspan="2"><input type="submit" value="Добавить"/></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>