<div class="myModalNew">
    <div id="exampleModalNew">
        <div class="header">
            <h5 class="pl-3 py-2 border-bottom">Add new user</h5>
        </div>
        <div class="table-responsive">
<!--            <form id="formNewUser" name="formNewUser" method="post" th:action="@{/api/users}">-->
            <form id="formNewUser" name="formNewUser" method="post">
                <div class="form-group text-center w-25 mx-auto">
                    <label for="firstName" class="col-form-label font-weight-bold">First Name</label>
                    <input name="firstName" type="text" class="form-control list-group-item-warning" id="firstName" value=""/>
                </div>
                <div class="form-group text-center w-25 mx-auto font-weight-bold">
                    <label for="lastName" class="col-form-label">Last Name</label>
                    <input name="lastName" type="text" class="form-control list-group-item-warning" id="lastName" value=""/>
                </div>
                <div class="form-group text-center w-25 mx-auto font-weight-bold">
                    <label for="age" class="col-form-label">Age</label>
                    <input name="age" type="text" class="form-control" id="age" value=""/>
                </div>
                <div class="form-group text-center w-25 mx-auto font-weight-bold">
                    <label for="email" class="col-form-label">Email</label>
                    <input name="email" type="text" class="form-control list-group-item-warning" id="email" value=""/>
                </div>
                <div class="form-group text-center w-25 mx-auto font-weight-bold">
                    <label for="password" class="col-form-label">Password</label>
                    <input name="password" type="password" class="form-control" id="password" value=""/>
                </div>
                <div class="form-group text-center w-25 mx-auto font-weight-bold">
                    <label for="roles" class="col-form-label">Role</label>
                    <select size="2"
                            class="custom-select" name="roles" id="roles"  multiple>
                        <option th:each="item : ${roles}" th:value="${item.name}"  th:text="${item.name}"></option>
                    </select>
                </div>
                <div class="form-group text-center w-25 mx-auto font-weight-bold">
                    <button type="submit" class="btn btn-success bt-lg submitBtn" value="Add new user">Add new user</button>
                </div>
            </form>
        </div>
    </div>
</div>