<tbody>
<tr>
    <td th:utext="${user.id}">ID</td>
    <td th:utext="${user.firstName}">Firstname</td>
    <td th:utext="${user.lastName}">Lastname</td>
    <td th:utext="${user.email}">Email</td>
    <td th:utext="${user.age}">Age</td>
    <td><span th:each="role : ${user.roles}" th:utext="${role.name} +' '"></span></td>
    <td><a th:href="@{/findone/(id=${user.id})}"
           class="btn btn-info btn-sm eBtn">Edit</a>

        <!--    Edit Modal-->
        <div th:include="admin/editmodal"></div>
    </td>
    <td><a th:href="@{/findone/(id=${user.id})}"
           class="btn btn-danger btn-sm delBtn">Delete</a>

        <!--    Delete modal-->
        <div th:include="/admin/deletemodal"></div>
    </td>
</tr>
</tbody>