<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Информация о пользователе</title>
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>
<div sec:authorize="hasAuthority('USER')" style="text-align: center">
    <h2>Пользователь: <span th:utext="${session.user.email}"/></h2>
    <table>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Age</th>
            <th>Email</th>
            <th>Role</th>
        </tr>
        <tr>
            <td th:utext="${session.user.id}"/>
            <td th:utext="${session.user.firstName}"/>
            <td th:utext="${session.user.lastName}"/>
            <td th:utext="${session.user.age}"/>
            <td th:utext="${session.user.email}"/>
            <td th:utext="${session.user.roles}"/>
        </tr>
    </table>
    <br><br>
    <form th:action="@{/logout}" method="POST">
        <input type="submit" value="Logout"/>
    </form>
</div>
</body>
</html>