<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/dashboard.css}">
</head>
<body class="bg-light">
    <nav class="navbar navbar-dark bg-dark flex-md-nowrap shadow">
    <span class="navbar-text">
</span>
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
            </li>
        </ul>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <nav class="nav flex-column col-md-2 d-md-block sidebar pt-3 bg-white border-right">
                <ul class="list-group border-right allUsersSidebar">
                    <li><a class="list-group-item list-group-item-action active border-0 allUsers" href="#">All users</a></li>
                                        <li id="userSidebar" th:each="user : ${usersList}">
                                            <a class="list-group-item list-group-item-action text-capitalize border-0 userBtn"
                                               th:href="@{/api/users/{id}(id=${user.id})}"
                                               th:utext="${user.name}">
                                            </a>
                                        </li>
                </ul>
            </nav>
            <div class="sidebar-sticky"></div>

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                <br>
                <h2>Admin panel</h2>
                <ul class="nav nav-tabs" id="myTabs">
                    <li class="nav-item"><a href="#home" role="tab" data-toggle="list" class="nav-link active homeTab">Users
                        table</a></li>
                    <li class="nav-item"><a href="#newuser" role="tab" data-toggle="list" class="nav-link nBtn">New
                        User</a>
                    </li>
                </ul>
                <div class="tab-content pt-3 border">
                    <div class="tab-pane active bg-white" id="home" role="tabpanel">
                        <h5 class="pl-3 py-2 border-bottom bg-light">All users</h5>
                        <div class="table-responsive px-3 py-3">
                            <table id="userstable" class="table table-striped">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Last Name</th>
                                    <th>Age</th>
                                    <th id="userstableEdit">Edit</th>
                                    <th id="userstableDelete">Delete</th>
                                </tr>
                                </thead>
                                <tbody id="userstablebody">
                                <tr id="userInfoTr">
                                <div th:include="/editmodal"></div>
                                <div th:include="/deletemodal"></div>
                                </tr>
                                </tbody>
                            </table>
                            <div class="testUser"></div>
                        </div>
                    </div>
                    <div class="tab-pane" id="newuser" role="tabpanel">

                        <!--    New user form -->
                        <div th:include="/newuserform"></div>
                    </div>
                </div>
            </main>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script th:src="@{/js/bootstrap.js}"></script>
    <script th:src="@{/js/main.js}"></script>
</body>
</html>