<div class="modal fade deleteModalNew" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel1"
     aria-hidden="true">
    <form id="deleteUserForm" name="deleteUserForm">
        <input type="hidden" name="_method" value="delete">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Delete user</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group text-center w-50 mx-auto">
                        <label for="id1" class="col-form-label font-weight-bold">Id</label>
                        <input name="id1" type="text" class="form-control" id="id1" value="" readonly/>
                    </div>
                    <div class="form-group text-center w-50 mx-auto">
                        <label for="name1" class="col-form-label font-weight-bold">Name</label>
                        <input name="name1" type="text" class="form-control" id="name1" value="" readonly/>
                    </div>
                    <div class="form-group text-center w-50 mx-auto">
                        <label for="lastName1" class="col-form-label font-weight-bold">Last Name</label>
                        <input name="lastName1" type="text" class="form-control" id="lastName1" value="" readonly/>
                    </div>
                    <div class="form-group text-center w-50 mx-auto">
                        <label for="age1" class="col-form-label font-weight-bold">Age</label>
                        <input name="age1" type="text" class="form-control" id="age1" value="" readonly/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" id="delRef" class="btn btn-danger" value="Delete">Delete</button>
                </div>
            </div>
        </div>
    </form>
</div>
